<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Mastering_Configviewer>
            <version>0.1.0</version>
        </Mastering_Configviewer>
    </modules>

    <global>
        <events>
            <controller_front_init_routers>
                <observers>
                    <mastering_configviewer_model_observer>
                        <type>singleton</type>
                        <class>Mastering_Configviewer_Model_Observer</class>
                        <method>checkForConfigRequest</method>
                    </mastering_configviewer_model_observer>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
</config>