<?xml version="1.0" encoding="UTF-8" ?>
<config>

    <modules>
        <Training_Animal>
            <version>1.0.5</version>
        </Training_Animal>
    </modules>

    <global>

        <models>
            <training>
                <class>Training_Animal_Model</class>
                <resourceModel>training_animal_entity</resourceModel>
            </training>
            <training_animal_entity>
                <class>Training_Animal_Model_Entity</class>
                <entities>
                    <animal>
                        <table>animal_entity_flat</table>
                    </animal>
                </entities>
            </training_animal_entity>
        </models>

        <resources>
            <training_animal_setup>
                <setup>
                    <module>Training_Animal</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </training_animal_setup>
        </resources>

        <helpers>
            <training_animal>
                <class>Training_Animal_Helper</class>
            </training_animal>
        </helpers>

        <blocks>
            <training_animal>
                <class>Training_Animal_Block</class>
            </training_animal>
        </blocks>

    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <training_animal after="Mage_Adminhtml">Training_Animal_Adminhtml</training_animal>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <training_animal>
                    <file>training/animal.xml</file>
                </training_animal>
            </updates>
        </layout>

        <events>
            <controller_action_predispatch>
                <observers>
                    <training_animal>
                        <type>model</type>
                        <class>training/observer</class>
                        <method>controllerActionPredispatch</method>
                    </training_animal>
                </observers>
            </controller_action_predispatch>
        </events>
    </adminhtml>

</config>