<?xml version="1.0" encoding="UTF-8" ?>
<config>

    <modules>
        <Training_Animal>
            <version>1.0.1</version>
        </Training_Animal>
    </modules>

    <global>

        <models>
            <training>
                <class>Training_Animal_Model</class>
                <resourceModel>training_animal_entity</resourceModel>
            </training>
            <training_animal_entity>
                <class>Training_Animal_Model_Entity</class>
                <entities>
                    <animal>
                        <table>animal_entity_flat</table>
                    </animal>
                </entities>
            </training_animal_entity>
        </models>

        <resources>
            <training_animal_setup>
                <setup>
                    <module>Training_Animal</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </training_animal_setup>
        </resources>

    </global>
</config>