<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <default>
        <some>
            <random>
                <xpath>Here is a value.</xpath>
            </random>
        </some>
    </default>
    <stores>
        <french>
            <some>
                <random>
                    <xpath>Some other value.</xpath>
                </random>
            </some>
        </french>
    </stores>
    <models>
        <sales>
            <rewrite>
                <quote_address>First_Sales_Model_Quote_Address</quote_address>
            </rewrite>
        </sales>
    </models>
</config>