<?xml version="1.0" encoding="UTF-8" ?>
<config>

    <modules>
        <Forth_Blocks>
            <version>0.0.1</version>
        </Forth_Blocks>
    </modules>

    <global>
        <blocks>
            <forth_blocks>
                <class>Forth_Blocks_Block</class> <!-- translates to the path: app/code/core/local/Forth/Blocks/Block/*.php -->
            </forth_blocks>
            <catalog>
                <rewrite>
                    <product_view>Forth_Blocks_Block_Catalog_Product_View</product_view>
                </rewrite>
            </catalog>
            <page>
                <rewrite>
                    <html_breadcrumbs>Forth_Blocks_Block_Page_Html_Breadcrumbs</html_breadcrumbs>
                </rewrite>
            </page>
        </blocks>
    </global>

    <frontend>
        <routers>
            <forth_blocks>
                <use>standard</use>
                <args>
                    <module>Forth_Blocks</module>
                    <frontName>fbs</frontName>
                </args>
            </forth_blocks>
        </routers>
    </frontend>

</config>